.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10%;
    color: #344054;
}

.contact h1 {
    font-weight: 700;
    letter-spacing: -0.5px;
}

.contact span:first-of-type {
    margin-bottom: 35px;
    margin-left: 0px;
}

.contact div {
    display: flex;
    flex-direction: column;
}

input, textarea {
    border: 1px solid #D0D5DD;
    padding: 7px 14px;
    border-radius: 5px;
}

textarea {
    padding: 10px 14px;
}

textarea::placeholder, 
input::placeholder {
    font-size: 15px;
    font-weight: 400;
}

form div {
    margin-bottom: 10px;
}

form div:first-of-type {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

form div:first-of-type div {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form div:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
}

.contact form div.checkbox_div label {
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 14px;
}

Label {
    font-size:12px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 7px 14px;
    border: none;
    outline: none;
    background: #1570EF;
    color: #fff;
}

.msg_button {
    border-radius: 5px;
}

.contact form div.checkbox_div label {
    color: #475467;
}

@media only screen and (max-width: 700px) {
        form div:first-of-type {
            flex-direction: column;
            width: 100%;
        }
    
        form div:first-of-type div {
            width: 100%;
        }

        .contact form div:last-of-type label {
            font-size: 12px;
            margin-bottom: 5px;
            margin-left: 0px;
        }

        .contact form div.checkbox_div  label{
            margin-bottom: 0px;
            margin-left: 10px;
        }

        .contact span:first-of-type {
            font-size: 14px;
        }

        textarea::placeholder,
        input::placeholder {
            font-size: 12px;
            font-weight: 400;
        }
}
